/* open-sans-regular - latin */
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: local(''),
        url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* open-sans-700 - latin */
 @font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   src: local(''),
        url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/open-sans-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }

*{
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

body{
   margin: 0px;
   font-family: 'Open Sans'; 
}
img{
   vertical-align: middle;
   object-fit: cover;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }
.container{
   width: 1100px;
   margin: 0px auto;
   padding: 0px 20px;
}
.site-header{
   display: flex;
   align-items: center;
   padding: 18px 0px;
}
.header-top{
   background: #FFFFFF;
   box-shadow: 0px 4px 20px #0000001a;
}
.logo-link{
   flex-grow: 1;
}
.top-list{
   display: flex;
   align-items: center;
   margin: 0px;
   padding: 0px;
}
.top-item{
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
   color: #000000;
   margin-right: 25px;
}
.top-link{
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 24px;
   color: #000000;
   border-bottom: 3px solid #fff;
   padding: 8px;
}
.top-link:hover{
   border-bottom: 3px solid #000;
}
.top-link:active{
   padding: 8px;
   color: #FFFFFF;
   background: #191919b3;
   border-bottom: none;
}
.link-active{
   font-style: normal;
   font-weight: 700;
   font-size: 15px;
   line-height: 24px;
   color: #FFFFFF;
   background: #00BAFC;
   border-radius: 5px;
   padding: 8px 16px;
   margin-right: 0px;
   border: 3px solid #fff;
}
.link-active:hover{
   border: 3px solid #00BAFC;
   border-radius: 5px;
   background: #FFFFFF;
   color: #00BAFC;
}
.link-active:active{
   background: #00bafc99;
   border-radius: 5px;
   color: #FFFFFF;
   border: none;
}

/* ------------site top header tugadi------------- */
.site-bottom{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 80px 0px;
}
.bottom-box{
   width: 470px;
}
.bottom-title{
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 130%;
   color: #000000;
   margin: 0px;
   margin-bottom: 16px;
}
.bottom-text{
   width: 465px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
   margin-top: 0px;
   margin-bottom: 24px;
}
.bottom-link{
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   background: #00BAFC;
   border-radius: 5px; 
   padding: 8px 16px;
}
.bottom-link:hover{
   background: rgba(0, 186, 252, 0.8);
   border-radius: 5px;
}
.bottom-link:active{
   background: rgba(0, 186, 252, 0.6);
   border-radius: 5px;
}
/* -------------------header qismi tugadi----------------------- */
.services-section{
   padding: 56px 0px;
}
.services-box{
   width: 719px;
   margin: 0px auto;
   text-align: center;
}
.servicess-title{
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 130%;
   color: #000000;
}
.services-text{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
   text-align: center;
   margin: 0px;
   margin-bottom: 24px;
}
.services-list{
   display: flex;
   flex-wrap: wrap;
   margin: 0px auto;
   padding-left: 0px;
}
.services-item{
   width: 320px;
   background: #FFFFFF;
   box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   margin: 0px auto;
   margin-right: 30px;
   margin-bottom: 48px;
   padding-bottom: 24px;
}
.services-item:nth-child(4){
   margin-left: 190px;
}
.services-item:nth-child(5){
   margin-right: 190px;
}

.services-item::before{
   display: block;
   margin: 0px auto;
   margin-top: 24px;
   width: 202px;
   height: 130px;
   background-image: url("../images/website-illustration.png");
   background-repeat: no-repeat;
   background-size: 202px 130px;
   content: "";
}
.services-item:nth-child(2)::before{
   background-image: url("../images/bot-illustration.png");
}
.services-item:nth-child(3)::before{
   background-image: url("../images/smm-illustration.png");
}
.services-item:nth-child(4)::before{
   background-image: url("../images/design-illustration.png");
}
.services-item:nth-child(5)::before{
   background-image: url("../images/crm-illustration.png");
}
.services-item:hover{
   background: #FFFFFF;
   box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
   border-radius: 5px;
}
.services-item:active{
   background: #FFFFFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
   border-radius: 5px;
}
.title-ipsum{
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 130%;
   text-align: center;
   color: #000;
   margin: 16px 0px;
}
.text-ipsum{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: #000000;
   margin: 0px;
}
.services-dog{
   display: block;
   text-align: center;
}
.services-link{
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   padding: 8px 16px;
   background: #00BAFC;
   border-radius: 5px;
   margin-right: 16px;
}
.active-link{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-decoration-line: underline;
   color: #00BAFC;
}

/* birinchi section tugadi  */
.job-box{
   width: 870px;
   padding: 56px 0px;
   margin: 0px auto;
}
.feexx-box{
   width: 719px;
   text-align: center;
}
.fish-title{
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 130%;
   text-align: center;
   color: #000000;
}
.fish-text{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: #000000;
}
.job-list{
   margin: 0px auto;
   padding-left: 0px;
}
.job-item{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px auto;
   margin-bottom: 50px;
}
.job-item:nth-child(even){
   flex-direction: row-reverse;
}
.item-box{
   width: 493px;
}
.job-title{
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 130%;
   color: #000000;
}
.job-text{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #000000;
}
.job-link{
   display:inline-block;
   margin-left: 40%;
   padding: 8px 16px;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   background: #00BAFC;
   border-radius: 5px;  
}
/* ikkinche section tugadi */
.hero-section{
   background: #00BAFC;
}
.hero-book{
   width: 850px;
   padding: 56px 0px 64px 0px;
   margin: 0px auto;
}
.roof-title{
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 130%;
   text-align: center;
   color: #FFFFFF;
}
.roof-text{
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 130%;
   text-align: center;
   color: #FFFFFF;
}
form{
   width: 348px;
   background: #FFFFFF;
   border-radius: 5px;
   padding-top: 24px;
   padding-bottom: 24px;
   text-align: center;
   margin: 0px auto;
   margin-top: 24px;
}
input{
   display: block;
   width: 300px;
   padding: 16px 0px 16px 16px;
   border: none;
   background: #F3F3F3;
   border-radius: 5px;
   margin: 0px 24px 16px 24px;
}
.user-select{
   width: 300px;
   padding: 16px 0px 16px 16px;
   border: none;
   margin: 0px 24px 16px 24px;
   background: #F3F3F3;
   border-radius: 5px;
}
button{
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
   padding: 8px 16px;
   background: #00BAFC;
   border: none;
   border-radius: 5px;
}

/* sectionla tugadi  */
footer{
   background: #191919;
}
.footer-box{
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   padding: 56px 0px;
}
.just-box{
   width: 320px;
}
.just-strong{
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 130%;
   color: #FFFFFF;
}
.just-text{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #FFFFFF;
}
.web-list{
   margin: 0px;
   padding-left: 0px;
}
.web-item{
   margin-top: 10px;
}
.web-link{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   color: #FFFFFF;
}
.web-link:hover{
   color: #00BAFC;
}
.web-link:active{
   color: #00BAFC;
   opacity: 0.6;
}
